<!DOCTYPE html>
<html>
<head>
    <title>TravelX</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap" rel="stylesheet">
</head>
<body>

<nav class="navbar">
    <span>TravelX 🌍</span>
    <a href="/packages" class="btn">Explore</a>
</nav>

<div class="hero">
    <h1>Discover The World ✈️</h1>
    <p>Luxury trips. Affordable prices. Endless memories.</p>
    <a href="/packages" class="btn">Start Exploring</a>
</div>

</body>
</html>